.source
  .top
    path-bar(
      on-selected='',
      project='project',
      path='path')
  .left
    project-tree(
      project="project",
      paths-to-expand="pathsToExpand",
      on-select-file='onSelectFile(fileId)')
  .right
    class-tree-loader(
      file-id='fileId',
      on-select-jump-target='onSelectJumpTarget(jumpTarget)')
  .main
    .main-top
      code-view-loader(
          file-id='fileId',
          highlighted-line='highlightedLine',
          on-find-usages="onFindUsages(kind, id)",
          on-select-jump-target='onSelectJumpTarget(jumpTarget)')
    .panel.main-bottom
      .header
        span xref
      .body
        span(ng-show='loadingXrefs') Loading
        xref-box(
          xrefs="xrefs",
          ng-hide='loadingXrefs',
          on-select-jump-target='onSelectJumpTarget(jumpTarget)')
